.introCard {
    background-color: black;
    border-bottom: 8px solid #222;
    display: flex;
    padding: 50px 5%;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.introCard>div {
    width: 50%;
}