.signInDivParent {
    height: 80vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.signInDiv {
    max-width: 500px;
    background-color: rgba(0, 0, 0, 0.75);
    padding: 80px
}

.otherThings div {
    margin-top: 15px;
    color: #b3b3b3 !important;
}

.rememberSection {
    display: flex;
    justify-content: space-between;
}